<!-- start of explanation -->
<article id="explanation">
    <h2>Method of Differences: A Worked Example</h2>

    <section id="step1">
        <h3>Original Expression</h3>

        <p>!! {{ e.expression }} !!</p>
    </section>
    <section id="step2">
        <h3>Convert to Polynomial</h3>

        <p>Expand any functions via Taylor Series</p>

        <p>!! {{ e.polynomial }} !!</p>
    </section>
    <section id="step3">
        <h3>Initial Values</h3>

        <table id="initial-values">
            <thead>
            <tr>
                <th scope="col">$$x$$</th>
                <th scope="col">$$f(x)$$</th>
                {% for col in e.initial_values[1:] %}
                    <th scope="col">$$D^{ {{ loop.index }} }$$</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in e.initial_values %}
                    <tr>
                        <td>{{ (meta.initial + meta.step * loop.index0) |string|tonum }}</td>
                        {% for col in row %}
                            <td>{{ col |string|tonum }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section id="step4">
        <h3>Compute Table through Addition (plus Check Column)</h3>

        <table id="computations">
            <thead>
                <tr>
                    <th scope="col">!! x !!</th>
                    <th scope="col">!! f(x) !! via check</th>
                    <th scope="col">!! f(x) !! via diff</th>
                    {% for col in e.table[0][1:] %}
                        <th scope="col">$$D^{ {{ loop.index }} }$$</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in e.table %}
                <tr>
                    <td>{{ (meta.initial + loop.index0 * meta.step) |string|tonum }}</td>
                    <td>{{ e.check[loop.index0] |string|tonum }}</td>
                    {% for col in row %}
                        <td>{{ col |string|tonum }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</article>

<!-- end of explanation -->
